.title {
  background-color: var(--color-gray-700);
  border-radius: 6px 6px 0 0;
  margin-top: 1rem;
}

.rightBorder {
  border-right: 1px solid var(--color-gray-900);
}

.title div {
  display: flex;
}

.first {
  width: 50%;
}

.common {
  width: 20%;
  padding-left: 1rem;
}

.last {
  width: 60px;
  margin: auto 1rem auto 1rem;
}

.cartTitle {
  padding-left: 1rem;
  width: 20%;
}

.actions {
  display: flex;
  justify-content: space-between;
}
